flows.json
[{"id":"337b4a5d.9522d6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"447ba97e.21cdf8","type":"ui_tab","z":"","name":"Registration Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"fac4331d.ff842","type":"ui_group","z":"","name":"Reg form","tab":"447ba97e.21cdf8","order":1,"disp":true,"width":"6","collapse":false},{"id":"35ca6a1d.3ce5a6","type":"ui_group","z":"","name":"Login ","tab":"447ba97e.21cdf8","order":2,"disp":true,"width":"6","collapse":false},{"id":"ff8a7123.449d8","type":"ui_tab","z":"","name":"Login Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"e2ce5c74.8d969","type":"ui_group","z":"","name":"Login form","tab":"ff8a7123.449d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"b37e66d0.e0c458","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8696b338.3e751","type":"ui_tab","z":"","name":"CustomerHelp","icon":"dashboard","disabled":false,"hidden":false},{"id":"7814db1b.8e7bf4","type":"ui_group","z":"","name":"Bot","tab":"8696b338.3e751","order":1,"disp":true,"width":"6","collapse":false},{"id":"1447f289.c5ac2d","type":"ui_form","z":"337b4a5d.9522d6","name":"","label":"","group":"fac4331d.ff842","order":0,"width":0,"height":0,"options":[{"label":"Enter Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"Create","cancel":"cancel","topic":"","x":250,"y":180,"wires":[["484a6a8a.b65764","f1ebf130.6d5e1"]]},{"id":"484a6a8a.b65764","type":"debug","z":"337b4a5d.9522d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":60,"wires":[]},{"id":"f1ebf130.6d5e1","type":"function","z":"337b4a5d.9522d6","name":"","func":"msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Emailid:msg.payload.email,\n    Password:msg.payload.password,\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":300,"wires":[["83427dba.4c9ae"]]},{"id":"83427dba.4c9ae","type":"cloudant out","z":"337b4a5d.9522d6","name":"cloudant","cloudant":"","database":"sample","service":"node-red-yrvla-2020--cloudant-1597404282430-79531","payonly":true,"operation":"insert","x":670,"y":300,"wires":[]},{"id":"cf85a034.f9a01","type":"ui_form","z":"337b4a5d.9522d6","name":"","label":"","group":"e2ce5c74.8d969","order":0,"width":0,"height":0,"options":[{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":240,"y":460,"wires":[["e11c1103.293"]]},{"id":"e11c1103.293","type":"function","z":"337b4a5d.9522d6","name":"","func":"global.set('emailid',msg.payload.email);\nglobal.set('password',msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":460,"wires":[["4aafa2ba.00363c"]]},{"id":"4aafa2ba.00363c","type":"function","z":"337b4a5d.9522d6","name":"","func":"var emailid = global.get('emailid');\nmsg.payload=\"emailid:\"+emailid;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":460,"wires":[["49fd8a5d.7995f4"]]},{"id":"49fd8a5d.7995f4","type":"cloudant in","z":"337b4a5d.9522d6","name":"","cloudant":"","database":"sample","service":"node-red-yrvla-2020--cloudant-1597404282430-79531","search":"_idx_","design":"user","index":"user","x":830,"y":460,"wires":[["c8a65cbd.542da"]]},{"id":"c8a65cbd.542da","type":"function","z":"337b4a5d.9522d6","name":"","func":"if(msg.payload[0].Password===global.get('password')){\n    msg.payload='Login Successful';\n}\nelse{\n    msg.payload='Login Failed';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":540,"wires":[["7f1c1f84.d1d7e"]]},{"id":"7f1c1f84.d1d7e","type":"ui_text","z":"337b4a5d.9522d6","group":"e2ce5c74.8d969","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":440,"y":540,"wires":[]},{"id":"af8c1949.30ef88","type":"ui_form","z":"337b4a5d.9522d6","name":"","label":"","group":"7814db1b.8e7bf4","order":0,"width":0,"height":0,"options":[{"label":"User input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":230,"y":700,"wires":[["701789d6.ad9b48"]]},{"id":"701789d6.ad9b48","type":"function","z":"337b4a5d.9522d6","name":"","func":"msg.payload = msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":700,"wires":[["66da5d8.eb2bca4"]]},{"id":"66da5d8.eb2bca4","type":"watson-conversation-v1","z":"337b4a5d.9522d6","name":"","workspaceid":"11aa28a3-f317-436a-acf8-910b08455739","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/e8f0a609-9487-4877-b15f-d229ba78fdcb","timeout":"","optout-learning":false,"x":650,"y":700,"wires":[["ad3f380b.eff328","b73ae4ea.b54978"]]},{"id":"658ffe8.37d87","type":"ui_text","z":"337b4a5d.9522d6","group":"7814db1b.8e7bf4","order":1,"width":"6","height":"5","name":"","label":"Bot response","format":"{{msg.payload}}","layout":"row-spread","x":990,"y":640,"wires":[]},{"id":"ad3f380b.eff328","type":"debug","z":"337b4a5d.9522d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":580,"wires":[]},{"id":"b73ae4ea.b54978","type":"function","z":"337b4a5d.9522d6","name":"","func":"msg.payload = msg.payload.output.generic[0].text;   \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":830,"y":700,"wires":[["658ffe8.37d87","d2493a65.36fd08"]]},{"id":"d2493a65.36fd08","type":"ui_audio","z":"337b4a5d.9522d6","name":"","group":"7814db1b.8e7bf4","voice":"","always":"","x":980,"y":760,"wires":[]}]